In [2]:
import trat
import pandas as pd
import json

In [3]:
pd.set_option('display.max_columns', 30)

In [7]:
jason = pd.read_json('./data/data.json')

In [16]:
df = pd.read_csv('./data/vagas_tratas_02-06-22.csv', sep='^')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              108 non-null    int64
 1   id                      108 non-null    int64
 2   titulo                  108 non-null    object
 3   empresa                 108 non-null    object
 4   local                   108 non-null    object
 5   descricao               108 non-null    object
 6   local_trabalho          108 non-null    int64
 7   recrutador              56 non-null     object
 8   aceita_inscricao        90 non-null     object
 9   candidatos              108 non-null    int64
 10  data_publicacao         18 non-null     object
 11  aberta                  108 non-null    int64
 12  servico                 108 non-null    object
 13  tipo_contratacao        58 non-null     float64
 14  quantidade_funcionario  50 non-null     float64
 15  correspondente          4 non-null      float64
 16  conexao_ensino          6 non-null      float64
 17  recrutando_agora        5 non-null      float64
 18  selo_competencia        2 non-null      float64
 19  conexoes                5 non-null      float64
 20  nivel_cargo             1 non-null      float64
dtypes: float64(8), int64(5), object(8)
memory usage: 17.8+ KB