In [5]:
import trat
import pandas as pd
import json

In [6]:
pd.set_option('display.max_columns', 30)

In [7]:
with open('data/data.json', 'rb') as f:
    jason = json.loads(f.read())
# dados = trat.limpadados(jason)

In [24]:
f = []
for d in jason:
    if len(d['detalhes']) == 10:
        g = d
g

{'id': '2980032356',
 'atividade': [['Currículo baixado', 'Há 1 mês'],
  ['Candidatura visualizada', 'Há 1 mês'],
  ['Candidatura enviada', 'Há 2 meses']],
 'titulo': 'Analista de Operação e Sustentação RPA',
 'empresa': 'Smarthis',
 'local': 'Rio de Janeiro, Rio de Janeiro, Brasil',
 'descricao': 'Sobre a vaga\n* Estaremos em home office até ser seguro sair de casa.\n\n* Quem somos\n\n* Somos uma Startup de tecnologia. Nascemos em julho de 2018, com o propósito de acelerar a transformação digital no Brasil. Nossas soluções focam em RPA (Robotic Process Automation), Inteligência Artificial e Analytics. Atualmente estamos presentes em mais de 12 países, apoiando os desafios de nossos clientes. Contamos com um time apaixonado por tecnologia, que nasceu para otimizar o mercado através do seu maior ativo: o tempo dos seus colaboradores.\n\n* Nossa cultura\n\n* Nosso jeito de trabalhar é colaborativo e inclusivo, por isso, entregamos soluções de automação de humanos para humanos. Temos paixão por aprender e por nos desenvolver. O comprometimento com nossas equipes e nossos clientes, alinhado à ética e à integridade, gera resultados de excelência.\n\n* Nossas conquistas\n\nSomos Great Place to Work – em 2021, fomos reconhecidos como a 5ª melhor empresa para se trabalhar no Brasil e a 4ª, no Rio de Janeiro, em nossa categoria.\n100 Startups to Watch – Estamos na lista das startups mais promissoras e inovadoras do Brasil, segundo a Pequenas Empresas & Grandes Negócios.\nUiPath Professional Services & Diamond Partner – Somos a primeira empresa da América Latina a alcançar as principais certificações da empresa líder mundial em RPA.\n\n* Onde estamos?\n\n* Copacabana /RJ\n* São Paulo Capital /SP\n* São José dos Campos /SP\n* Buenos Aires / Argentina\n* Miami / EUA\n\n* O que você precisa ter:\n\n* Possuir experiência com versionamento de código;\n* Possuir experiência com programação;\n* Possuir experiência com levantamento de processos e áreas de negócio;\n* Inglês Intermediário;\n* Boa habilidade de comunicação oral e escrita.\n* Excelente se você tiver:\n* Possuir experiência prévia de suporte (Service Desk, Sales Force, Jira).\n* Possuir experiência com implementação de sistemas;\n* Possuir experiência em análise de Banco de Dados.\n* Possuir experiência com metodologia ágil (Scrum).\n* Conhecimento em ferramentas/plataformas de robotização;\n* Domínio do pacote Office;\n* Seu trabalho será:\n* Realizar a manutenção de robôs desenvolvidos em produção;\n* Operar e monitorar os robôs, documentando progressos, problemas e riscos;\n* Realizar a interface com as equipes de RPA dos clientes durante e depois da operação;\n* Analisar os incidentes com o robô;\n* Propor correções e pequenas melhorias;\n* Realizar o diagnóstico das principais causas dos problemas para propor soluções adequadas;\n* Realizar comunicação e alinhamento com equipes técnicas dos projetos e dos clientes.\n\n* O que tem de mais incrível aqui:\nO salário é compatível com o mercado, e o desenvolvimento e o plano de carreira são fora da curva;\nLicença-maternidade de 6 meses;\nRede de Descontos;\nParticipação nos lucros;\nAmbiente livre, com dress code flexível;\nAmbiente de descompressão. Está cansado? Você pode relaxar;\nNo escritório, o biscoito é livre;\nPlano de Saúde para o seu bem-estar;\nHorário flexível (importa mais para a gente o que você faz do que quando você faz);\nGosta de se exercitar? O Gympass vai te ajudar;\nAmbiente colaborativo é o nosso lema, a gente se ajuda o tempo todo;\nEstimule o seu desenvolvimento e conhecimento, brilhe junto com nosso time de Inovação!\nEnquanto estivermos “quarentenados”, nosso trabalho é remoto, mas a integração é certa: happy hour online, game night, show de talentos e lives.\nPode deixar que a cultura de feedback é importante para nós. Você receberá um retorno sendo aprovado(a) ou não.\nSe nossos valores dão match, venha fazer parte dessa história de crescimento humanizado e transformação digital com a gente! Nosso ambiente inovador te desafiará constantemente a sair da zona de conforto e evoluir profissional e pessoalmente, ao lado de uma equipe altamente qualificada.\nVem com a gente,\n\nBe smart. Smarthis!',
 'local_trabalho': 'Remoto',
 'detalhes': ['Tempo integral',
  None,
  '51-200 funcionários',
  None,
  '1 conexão',
  None,
  'Marcos Almeida está contratando para esta vaga',
  None,
  'Recrutando agora',
  None],
 'aceita_inscricao': 'Não aceita mais candidaturas'}

In [18]:
f

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                108 non-null    object
 1   titulo                            108 non-null    object
 2   empresa                           108 non-null    object
 3   local                             108 non-null    object
 4   descricao                         108 non-null    object
 5   local_trabalho                    103 non-null    object
 6   recrutador                        56 non-null     object
 7   aceita_inscricao                  90 non-null     object
 8   candidatos                        18 non-null     float64
 9   Currículo baixado                 17 non-null     object
 10  Candidatura visualizada           35 non-null     object
 11  Candidatura enviada               97 non-null     object
 12  data_publicacao                   18 non-null     object
 13  tipo_horario                      108 non-null    object
 14  qnt_funcionarios                  106 non-null    object
 15  perfil_corresponde                4 non-null      object
 16  Candidatou-se no site da empresa  11 non-null     object
 17  nivel_cargo                       49 non-null     object
 18  servico_empresa                   57 non-null     object
 19  conexao_ensino                    6 non-null      float64
 20  recrutando_agora                  5 non-null      object
 21  selo_de_competência               2 non-null      object
 22  conexoes                          5 non-null      float64
dtypes: float64(3), object(20)
memory usage: 19.5+ KB

,id,titulo,empresa,local,descricao,local_trabalho,recrutador,aceita_inscricao,candidatos,Currículo baixado,Candidatura visualizada,Candidatura enviada,data_publicacao,tipo_horario,qnt_funcionarios,perfil_corresponde,Candidatou-se no site da empresa,nivel_cargo,servico_empresa,conexao_ensino,recrutando_agora,selo_de_competência,conexoes
10,3040542982,Analista de Dados II - Recursos Humanos,Globo,"Rio de Janeiro, Rio de Janeiro, Brasil",Sobre a vaga\nJob Description\n\nBuscamos o no...,NaN,NaN,Não aceita mais candidaturas,NaN,NaN,NaN,NaN,None,Tempo integral,10-001,NaN,24/05/22,Assistente,Produção e distribuição de mídia de transmissão,NaN,NaN,NaN,NaN
69,3016410645,Engenheiro de Dados Big Data Júnior,innolevels,"Rio de Janeiro, Rio de Janeiro, Brasil",Sobre a vaga\nEsta vaga foi obtida de um site ...,NaN,NaN,Não aceita mais candidaturas,NaN,NaN,NaN,NaN,None,Tempo integral,51-200,NaN,30/04/22,Júnior,Serviços e consultoria de TI,NaN,NaN,NaN,NaN
102,2983282899,Data Analyst,Me Poupe!,"São Paulo, São Paulo, Brasil",Sobre a vaga\nJob Description\n\nEstamos busca...,NaN,NaN,Não aceita mais candidaturas,NaN,NaN,NaN,NaN,None,Tempo integral,51-200,NaN,31/03/22,Assistente,"Tecnologia, Informação e Mídia",NaN,NaN,NaN,NaN
103,2983437298,Analista de Dados Júnior - Crédito,Ame Digital,"São Paulo, São Paulo, Brasil","Sobre a vaga\nOi, somos a Ame!\n\nUma fintech ...",NaN,NaN,Não aceita mais candidaturas,NaN,NaN,NaN,31/03/22,None,Tempo integral,501-1,NaN,NaN,Júnior,Serviços financeiros,NaN,NaN,NaN,NaN
104,2984285148,Analista de dados (Crédito),Stone,"Niterói, Rio de Janeiro, Brasil",Sobre a vaga\n# Sobre a vaga Estamos buscando ...,NaN,NaN,Não aceita mais candidaturas,NaN,NaN,NaN,31/03/22,None,Tempo integral,5-001,NaN,NaN,Assistente,Serviços e consultoria de TI,NaN,NaN,NaN,NaN