In [1]:
import matplotlib.pyplot as pt
import bs4 as bs
import urllib.request
import nltk
import spacy

In [7]:
jason = pd.read_json('./data/data.json')

In [3]:
df = pd.read_csv('./data/vagas_tratas_03-06-22.csv', sep='^')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              122 non-null    int64
 1   id                      122 non-null    int64
 2   titulo                  122 non-null    object
 3   empresa                 122 non-null    object
 4   local                   122 non-null    object
 5   local_trabalho          122 non-null    int64
 6   recrutador              65 non-null     object
 7   aceita_inscricao        102 non-null    object
 8   descricao               122 non-null    object
 9   candidatos              122 non-null    int64
 10  data_publicacao         18 non-null     object
 11  aberta                  122 non-null    int64
 12  servico                 122 non-null    object
 13  tipo_contratacao        67 non-null     float64
 14  quantidade_funcionario  58 non-null     float64
 15  correspondente          3 non-null      float64
 16  recrutando_agora        5 non-null      float64
 17  selo_competencia        3 non-null      float64
 18  conexao_ensino          8 non-null      float64
 19  conexoes                6 non-null      float64
 20  nivel_cargo             1 non-null      float64
dtypes: float64(8), int64(5), object(8)
memory usage: 20.1+ KB

In [7]:
df.head()

,Unnamed: 0,id,titulo,empresa,local,local_trabalho,recrutador,aceita_inscricao,descricao,candidatos,data_publicacao,aberta,servico,tipo_contratacao,quantidade_funcionario,correspondente,recrutando_agora,selo_competencia,conexao_ensino,conexoes,nivel_cargo
0,0,3101701349,DATA ANALYST PLENO,Confidencial,Brasil,2,Geizibete Ribeiro 2¬∞,N√£o aceita mais candidaturas,"Sobre a vaga\nEmpresa multinacional americana,...",0,NaN,0,nao mencionado,3.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3100401639,Analista BI,PARLA! Contact Center,"Carapicu√≠ba, S√£o Paulo, Brasil",1,Viviane Pontes,N√£o aceita mais candidaturas,Sobre a vaga\nRequisitos:\n\nConhecimento de S...,0,NaN,0,nao mencionado,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3102104363,Analista de Power BI,Special,"Barueri, S√£o Paulo, Brasil",3,NaN,NaN,Sobre a vaga\nQuem n√≥s somos?\nSomos um grupo ...,200,02/06/22,1,nao mencionado,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3100056434,Business Data Analyst Senior,Remessa Online,"S√£o Paulo, Brasil",2,NaN,N√£o aceita mais candidaturas,Sobre a vaga\nSobre a Remessa Online üåè\n.\nSom...,0,NaN,0,nao mencionado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3094190057,Analista de BI,Grupo Nexxees,"S√£o Paulo, Brasil",1,Pedro Henrique F de Jesus,NaN,Sobre a vaga\nO Grupo Nexxees est√° h√° 29 anos ...,34,27/05/22,1,nao mencionado,1.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN